body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-admin {
  width: 160px !important;
  height: 40px !important;
  padding: 6px 12px !important;
  text-align: center;
  font-size: 14px;
  border-radius: 6px;

  background-color: var(--color-primario) !important;
  color: var(--color-quinary) !important;
}
